/* app css stylesheet */


.books {
  list-style: none;
}

.thumb {
  float: left;
  margin: -0.5em 1em 1.5em 0;
  padding-bottom: 1em;
  height: 100px;
  width: 100px;
}

.title-bar{
  font-size: 32px;
  text-align: center;
  font-weight: bold;
  background-color:#1B998A; 
  color: #fff;
  padding: 20px;
  margin: 0;

}  

.search{
  float:left;
  padding:10px;
  margin:10px;

}

.sort{
  float:left;
  padding:10px;
  margin:10px;

}


/*Book Detail */
.book-container{
  width: 100%;
  min-width: 940px;
}
.book-thumb{
  float:left;
  width: 170px;

}
.book-body{
  margin:0 175px;

}
.book-status{
  float:right;
  width:145px;

}
.book-title{
  font-size: 24px;
  text-decoration: none;
  
}
.book-title a{
  color: #F59506 !important;
}
.book-title a:hover{
  text-decoration: none;
}
.book-author {
  font-size: 16px;
  color: #ccc;
}

.bookTitle {
  font-size: 24px;

}

.bookAuthor {
  color: #ccc;

}

.bookBlurb {
  font-weight: bold;
  border-bottom: 1px solid #000;
  padding-top: 5px;
  padding-bottom: 10px;
}

.comment-form {
  border-top: 1px solid #000;
  padding: 10px; 
  margin-top: 10px;

}

.comment-review {
  font-size: 24px;
  background-color: #000;
  color:#fff;
}

.commentItem{
  margin-top: 5px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  border-bottom: 1px solid #000;
}
.commentBody{
  font-size: 20px;
}
.commentHeader{
  color:#ccc;
}
.userName{
  margin-right: 15px;
}  
.rating{
  margin-right: 15px;
}
.reviewDate{

}